.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.introInput {
  height: 100px;
}

.label {
  font-weight: 500;
  font-size: 16px;
  color: #414141;
  line-height: 50px;
}

.input {
  display: block;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 6px 20px;
  font-size: 14px;
  background-color: #fff;
  outline: none;
}

.input::placeholder {
  font-weight: 400;
  color: #818181;
} 

.input:focus {
  border: 2px solid red; /* 포커스 시 테두리 색상 변경 */
}

.inputLabel {
  padding: 12px 20px;
}

.inputSearch {
  width: 245px;
  padding-left: 35px;
}

.iconSearch {
  position: absolute;
  top: 9px;
  left: 15px;
  margin: 2px;
  width: 14px;
}

.sortButton {
  color: #818181;
}

.LoadMoreButton {
  width: 260px;
  padding: 17px;
  color: #5c8352;
  cursor: pointer;
  overflow: hidden;
}

.LoadMoreButton:hover {
  background-color: #5c8352;
  color: #fff;
} 

.LoadMoreButton:active {
  transform: scale(0.99);
}

.thumbNailSelect {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap : 16px;
  margin: 0 auto;
}

.thumbNailSelect > div {
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* Mobile - 2열 4행으로 변경 */
@media (max-width: 767px) {
  .thumbNailSelect {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

.eyesButton {
  position: absolute;
  right: 20px;
  bottom: 12px;
  cursor: pointer;
  background: none;
  border: none;
}

.passwordBox {
  width: 100%;
  border: none;
  outline: none;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* 비밀번호 wrapper의 포커스 스타일 (div에 적용) */
.passwordWrapper:focus-within {
  border-color: red;
}

.selectIcon {
  position: absolute;
  bottom: calc(50% - 16px);
  left: calc(50% - 16px);
}

.selectBox {
  position: relative;
}

/*>>>만들기/수정하기 버튼*/
.buttonBox {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  overflow: hidden;
}

.button {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  background-color: #99C08E;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #41643a;
}

.button:active {
  transform: scale(0.99);
}
/*만들기/수정하기 버튼<<<*/