.navbar {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0;
}

.wrapper {
  width: 87%; 
  margin: 0 auto;
  padding: 32px 24px; 
}

.StudyInsertionWrapper {
  max-width: 696px;
  min-width: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  min-height: 320px; 
}

.msgBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.emptyMessage {
  color: #818181;
  font-size: 14px;
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #414141;
}
