.wrapper {
  width: 87%; 
  margin: 0 auto;
  padding: 32px 24px; 
}

.createWrapper {
  margin: 0 auto;
  padding: 32px 24px; 
  max-width: 696px;
  min-width: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  min-height: 320px; 
}

.navbar {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto 0;
}

.studyCreate {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  background-color: #99c08e;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.studyCreate:hover {
  background-color: #5c8352;
}

.studyCreate:active {
  transform: scale(0.99);
}

.create {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
}

.title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #414141;
}