.password-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.password-modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-modal-exit-icon {
    cursor: pointer;
}

.password-modal-error-message {
    color: red;
}

.password-modal-error-message-text {
    color: red;
}


.password-modal-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.password-modal-input-container-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    /* background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    text-align: var(--text-align);
    text-decoration: var(--text-decoration);
    text-transform: var(--text-transform); */
}

.password-eye-icon {
    cursor: pointer;
}

.password-submit-btn {
    background-color: #99C08E;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Pretendard';
    top: 271px;
    left: 24px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}