* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

body {
  background-color: #f6f4ef;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 480px;
}
