body {
  background-color: #f6f4ef;
}

.container {
  margin: 0 auto;
  max-width: 100wv;
  min-width: 100wv;
}


@media (max-width: 499px) {
  .container {
    min-width: 0;
    overflow-x: hidden;
  }
} 