body {
  background-color: #f6f4ef;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 480px;
}

/* ipad mini */
@media (max-width: 1023px) {
  .container {
    max-width: 100%;
    min-width: 100%;
  }
} 

/* mobile */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    min-width: 100%;
    overflow-x: hidden;
  }
} 