* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

#root {
  min-height: 100vh;
  padding: 20px;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
}