/* InputText.css */
/* Base input text styles */
/*
*/

.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-text:focus {
    outline: none;
    border-color: #4CAF50;
}

.input-text:hover {
    border-color: #4CAF50;
}

.input-text:active {
    border-color: #4CAF50;
}
